.statistics {
  height: auto;
  width: 600px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-shadow: var(--card-shadow);
  background-color: var(--background-light);

  overflow: hidden;
}
.wrap {
  width: 100%;
  padding: 45px 0;
  background-color: #fff;
}
.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 500;
  color: var(--title-color);
}
.stat_list {
  width: 100%;
  height: 120px;
  display: flex;
  border-radius: inherit;
}
.item {
  color: aliceblue;
  width: calc(600px / 5);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.label {
  font-size: 24px;
}
.percentage {
  font-size: 28px;
}
